[submodule "themes/casper"]
	path = themes/casper
	url = https://github.com/vjeantet/hugo-theme-casper
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
